extends ../layouts/main.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if errorMsg
            .user_msg.user_msg__error #{errorMsg}
        form.login-form(action="/signup", method="POST")
            .form-control
                label(for="email") Email
                input(type="email", name="email")#email

                label(for="pw") Password
                input(type="password", name="pw")#pw
                
                label(for="cpw") Confirm Password
                input(type="password", name="cpw")#cpw

                input(type="hidden", name="_csrf", value=csrfToken)

                button.btn(type="submit") Signup 