extends ../layouts/main.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if errorMsg
            .user_msg.user_msg__error #{errorMsg}
        form.login-form(action="/update-password", method="POST")
            .form-control
                label(for="pw") Password
                input(type="password", name="pw")#pw

                input(type="hidden", name="userID", value=userID)
                input(type="hidden", name="passwordToken", value=passwordToken)
                input(type="hidden", name="_csrf", value=csrfToken)
                
                button.btn.btn-danger(type="submit") Update Password